{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>About to FlickCentral</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel hendrerit arcu. Etiam ultrices vulputate quam, at vestibulum purus ultricies scelerisque. Ut enim lectus, pretium sit amet auctor sit amet, mattis eget nunc. Etiam euismod pulvinar rhoncus. Etiam blandit erat varius est rutrum, a finibus lacus vehicula. Fusce congue volutpat erat et viverra. Phasellus blandit magna at metus dignissim interdum. Pellentesque maximus magna vitae tempor condimentum. Praesent faucibus volutpat pellentesque. Nullam vulputate lorem sit amet diam volutpat rhoncus. Aliquam sodales odio id mi pulvinar bibendum. Pellentesque lacinia turpis et ante blandit, vitae tempus nisl consectetur.</p>
<img src="{% static 'images/about_image.jpg' %}" alt="img_about">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, illo laborum. Voluptas est deserunt sapiente, iure unde reiciendis veritatis, laudantium iusto saepe asperiores praesentium incidunt minus earum? Quam, voluptate corporis.</p>
{% endblock %}