{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta ab autem expedita ducimus vero harum mollitia aliquid quisquam eaque dignissimos. Laborum ratione adipisci illo? Iste dolor inventore distinctio maxime amet!</p>
<img src="{% static 'images/trainspotting2.jpg' %}" alt="img_contact">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore rem beatae suscipit magnam itaque molestiae architecto soluta dolor eos, veniam facilis iure sunt nobis sed voluptas sint iusto ratione?</p>
{% endblock %}