{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>FlickCentral</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel hendrerit arcu. Etiam ultrices vulputate quam, at vestibulum purus ultricies scelerisque. Ut enim lectus, pretium sit amet auctor sit amet, mattis eget nunc. Etiam euismod pulvinar rhoncus. Etiam blandit erat varius est rutrum, a finibus lacus vehicula. Fusce congue volutpat erat et viverra. Phasellus blandit magna at metus dignissim interdum. Pellentesque maximus magna vitae tempor condimentum. Praesent faucibus volutpat pellentesque. Nullam vulputate lorem sit amet diam volutpat rhoncus. Aliquam sodales odio id mi pulvinar bibendum. Pellentesque lacinia turpis et ante blandit, vitae tempus nisl consectetur.</p>
<img src="{% static 'images/home_image1.jpg' %}" alt="Home Image">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur maiores dolorem incidunt eaque, nulla doloribus totam est rem corporis. Quos obcaecati pariatur delectus, omnis rerum sequi consectetur dolor incidunt consequuntur!</p>
{% endblock %}