{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Movies</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, dolor non aliquid corporis eaque neque facere nobis harum nulla sapiente tempore excepturi voluptates repellat minus? Perferendis nulla eum optio non?</p>
<img src="{% static 'images/pulp_fiction.jpg' %}" alt="img_peliculas">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempore rem beatae suscipit magnam itaque molestiae architecto soluta dolor eos, veniam facilis iure sunt nobis sed voluptas sint iusto ratione?</p>
{% endblock %}