<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>FlickCentral</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
   
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'peliculas' %}">Movies</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
        </ul>
    </nav>

   
    <div>
        {% block content %}
        {% endblock %}
    </div>
<br><br><br><br>
    
    <footer>
        <p>Mateo Valenzuela - FlickCentral</p>
    </footer>
</body>
</html>

